html {
  height: 100%;
  box-sizing: border-box;
  font-size: 100%;
}

*,*:before,*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
  font-smoothing: antialiased;
  font-family: $mainFont;
  background: #f9f9f9;
  color: $textColor;
}

h1, h2, h3, h4, h5 {
  margin: 0 auto;
  padding: 0;
}
