.dynamicForm {
  display: block;
  width: 100%;
  max-width: 710px;
  margin: 0 auto;
  border: 1px solid rgba(0,0,0,0.15);
  border-radius: $radius;
  background: #fff;

  &__tabs {
    display: block;
    width: 100%;
    padding: 36px 10%;
  }

  .tabsList {
    width: 100%;
    display: flex;
    height: 40px;
    padding: 0;
    margin: 0 auto;
    background: #e7e7e7;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    align-items: center;
    box-shadow: inset 0 1px 0 0 rgba(51,51,51,0.05);

    &__item {
      -webkit-box-flex: 1;
      display: list-item;
      height: 40px;
      border: none;
      border-bottom-left-radius: $radius;
      border-bottom-right-radius: $radius;
      flex: 1;
      background: none;
      color: rgba(83,110,123,0.5);
      line-height: 1;
      font-size: 12px;
      outline: none;
      list-style-type: none;
      line-height: 40px;
      text-align: center;
    }

    &__item.tabsList__item--active {
      background: #fff;
      color: #536e7b;
    }
  }
}